* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    background-color:  rgb(183, 234, 255);
}

.logo {
    width: 100px;
}

main img {
    width: 50%;
    height: 50%;
}

header {
    background-color: rgb(183, 234, 255);
    display: flex;
    gap: 20px;
}

/* Index */

.navbar {
    display: flex;
    align-items: center;
}

.linksUno {
    display: flex;
    list-style: none;
    gap: 250px;
    align-items: center;
    height: 100%;
}

.item a{
    color: black;
    text-decoration: none;
}

.tituloUno {
    color: black;
    height: 80vh;
    background-image: url("../imagenes/pileta18.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tituloUno h1 {
    background-color: rgba(191, 234, 253, 0.3);
    padding-inline: 15px;
    font-size: 90px;
}

.subTitulo h2 {
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

.disponibilidad {
    display: flex;
    justify-content: center;
}

.disponibilidad input {
    padding: 20px;
    font-size: 45px;
}

.tarjetas {
    padding: 60px;
    display: flex;
    gap: 30px;
}

.tarjetasDos {
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.info {
padding: 0 20px 20px 20px;
}

.tarjetaImg {
    max-width: 100%;
}

footer {
    display: flex;
    background-color: white;
    padding: 5px;
    justify-content: space-around;
}

.linkFooter{

}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.5s ease;
    color: black;
    text-decoration: none;

}

footer a:hover {
    color: red;
}

/* Contacto */

.tituloC {
    text-align: center;
}

.tituloCdos {
    text-align: center;
}

.ubicacion {
    text-align: center;
}

/* Gastronomia */

.restAurante {
    text-align: center;
}

.restAurante2 {
    text-align: center;
}

.comedorimg {
    width: 150vh;
    display: flex;
    margin-left: 150px;
    
    gap: 20px;
}

.comedorP {
    text-align: center;
    font-size: 20px;
}

.comedorimgDos {
    width: 150vh;
    display: flex;
    justify-content: center;
    margin-left: 170px;
    gap: 20px;
}

/* Habitaciones */

.images22 {
    width: 150em;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: none;

}

.images22 {
    transition: transform 0.3s;
}

.images22 img:hover {
    transform: scale(1.5) translateY(50px);
}

.habitacionTitulo {
    text-align: center;
}

.habitacionTitulo2 {
    text-align: center;
}

.habitacionTitulo3 {
    text-align: center;

}


/* Servicios */

.tituloServi {
    text-align: center;
}

.iconosServicios {
    display: flex;
    height: 10rem;
    width: 10rem;
    gap: 150px;
    margin-left: 400px;
    padding-top: 30px;
}

/* Responsive-Index */

@media screen and (max-width: 1024px) {

    .logo {
        width: 100px;
    }
    .linksUno{
        display: flex;
        gap: 130px;
        
    }

    .tituloUno {
        height: 80vh;
    }

    .tituloUno h1 {
        width: 50px;
    }

    .disponibilidad input{
        height: 10rem;
        width: 20rem;
        font-size: 20px;
    }

    .subTitulo h2 {
        text-align: center;
        font-size: 50px;
        padding: 50px;
    }

    .tarjetas {
        display: flex;
        grid-template-columns: repeat(3, 1fr, 1fr);
        gap: 1em;
        grid-template-rows: minmax(20px, auto);
    }


}





@media screen and (max-width: 768px) {

    .linksUno {
        display: block;
    }

    .logo {
        display: flex;
        justify-content: start;
        width: 20%;
    }



    .linksUno{
        display: block;
        text-align: start;
    }

    .tituloUno {
        height: 30vh;
    }

    .tituloUno h1 {
        display: none;
    }

    .disponibilidad input{
        height: 5rem;
        width: 15rem;
        font-size: 15px;
    }

    .subTitulo h2 {
        text-align: center;
        font-size: 40px;
        padding: 30px;
    }

    .tarjetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr, 1fr);
        gap: 1em;
        grid-template-rows: minmax(20px, auto);
    }
    
}

@media screen and (max-width: 500px) {

    .linksUno {
        display: block;
    }

    .logo {
        display: flex;
        justify-content: start;
        width: 50%;
    }

    .disponibilidad input{
        height: 5rem;
        width: 7rem;
        font-size: 6px;
    }


}



@media screen and (max-width: 425px) {

    .linksUno {
        display: block;
    }

    .logo {
        display: flex;
        justify-content: start;
        width: 50%;
    }

    .disponibilidad input{
        height: 5rem;
        width: 7rem;
        font-size: 6px;
    }


}

@media screen and (max-width: 320px) {


    .linksUno {
        display: block;
    }

    .logo {
        display: flex;
        justify-content: start;
        width: 60%;
    }


    .linksUno{
        display: block;
        text-align: start;
    }

    .tituloUno h1 {
        display: none;
    }

    .disponibilidad input{
        height: 5rem;
        width: 6rem;
        font-size: 5px;
    }


    .subTitulo h2 {
        display: flex;
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }

    .tarjetas {
        display: grid;
        grid-template-columns: repeat(2,1fr, 1fr);
    }
}



/* Responsive-Contacto */

@media screen and (max-width: 1024px) {

    .tituloC {
        font-size: 18px;
    }

    .tituloCdos {
        font-size: 15px;
    }
    
    .ubicacion {
        font-size: 13px;
    }


    .comentarioS {
        display: flex;
        justify-content: center;
        
    }

    .centradoS {
        text-align: center;
    }

    .mapa {
        width: 120vh;
        height: 50vh;
    }

}

@media screen and (max-width: 768px) {

    .tituloC {
        font-size: 20px;
    }

    .comentarioS {
        display: flex;
        justify-content: center;
        
    }

    .centradoS {
        text-align: center;
    }

    .mapa {
        width: 100vh;
        height: 50vh;
    }

}


@media screen and (max-width: 500px) {

    .linksUno {
        display: block;
    }


    .tituloC {
        font-size: 14px;
    }

    .tituloCdos {
        font-size: 12px;
    }
    
    .ubicacion {
        font-size: 11px;
    }

    .movE {
        display: flex;
        justify-content: center;
        gap: 95px;
    }

    .mapa {
        width: 55vh;
        height: 40vh;
    }

}




@media screen and (max-width: 425px) {

    .linksUno {
        display: block;
    }


    .tituloC {
        font-size: 14px;
        padding: 20px;
    }

    .tituloCdos {
        font-size: 12px;
    }
    
    .ubicacion {
        font-size: 11px;
    }

    .movE {
        display: flex;
        justify-content: center;
        gap: 95px;
    }



    .mapa {
        width: 45vh;
        height: 30vh;
    }




}

@media screen and (max-width: 320px) {


    .tituloC {
        font-size: 14px;
    }

    .tituloCdos {
        font-size: 12px;
    }
    
    .ubicacion {
        font-size: 11px;
    }

    .movE {
        display: flex;
        justify-content: center;
        gap: 95px;
    }



    .mapa {
        width: 40vh;
        height: 30vh;
    }

    .centradoS {
        font-size: 14px;
        }
    
}

